<div class="headerPRISM d-flex flex-column flex-md-row align-items-center p-3 px-md-4">
        <div class="col-4 leftHeading">
          <a href="/home"><i class="pr-3 fa fa-home whiteIcons fa-3x" aria-hidden="true"></i></a>
          <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-4 text-center">
          <h4>PRISM</h4>
        </div>
        <div class="col-4 text-right rightHeading">
          <h4 class="inlineH4 pr-2">Logged in as:</h4><i class="fa fa-sign-out fa-1x" aria-hidden="true"></i>
        </div>
</div>