<form #originalForm="ngForm">
    <div class="form-row form-group">
        <div class="col">
            <h4>Requestor's Residency</h4>
            <hr>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col-6">
            <label>Resident of Virginia</label>
            <input class="form-control" type="text" readonly>
        </div>
        <div class="col-6"><!--Space--></div>
    </div>

    <br>

    <div class="form-row">
        <div class="col">
            <h4>Requestor's Information</h4>
            <hr>
        </div>
    </div>

    <div class="form-row">
        <div class="col-6">
            <label>Requestor's first name</label>
            <input class="form-control" type="text" readonly>
        </div>
        <div class="col-6">
            <label>Requestor's last name</label>
            <input class="form-control" type="text" readonly>
        </div>
    </div>

    <br>

    <div class="form-row">
        <div class="col-6">
            <label>Requestor's phone</label>
            <input class="form-control" type="text" readonly>
        </div>
        <div class="col-6">
            <label>Requestor's email</label>
            <input class="form-control" type="text" readonly>
        </div>
    </div>

    <br>

    <div class="form-row">
        <div class="col-6">
            <label>Mailiing address line 1</label>
            <input class="form-control" type="text" readonly>
        </div>
        <div class="col-6">
            <label>Mailing address line 2</label>
            <input class="form-control" type="text" readonly>
        </div>
    </div>

    <br>

    <div class="form-row">
        <div class="col-6">
            <label>City</label>
            <input class="form-control" type="text" readonly>
        </div>
        <div class="col-6">
            <label>State</label>
            <input class="form-control" type="text" readonly>
        </div>
    </div>

    <br>

    <div class="form-row">
        <div class="col-6">
            <label>Zip code</label>
            <input class="form-control" type="text" readonly>
        </div>
        <div class="col-6"><!--Space--></div>
    </div>

    <br>

    <div class="form-row">
        <div class="col">
            <label>Request description</label>
            <input class="smallInput" readonly>
        </div>
    </div>

</form>