<h2>Cookie, Local, Session Storage page</h2>
<br><br>


<h3>Local Storage</h3>
<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="setLocalStorage()">Set Local Storage</button>
        <button class="btn btn-secondary" (click)="getLocalStorage()">Get Local Storage</button>
        <button class="btn btn-success" (click)="delLocalStorage()">Delete Local Storage</button>
    </div>
</div>


<br><br>

<h3>Session Storage</h3>
<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="setSessionStorage()">Set Session Storage</button>
        <button class="btn btn-secondary" (click)="getSessionStorage()">Get Session Storage</button>
        <button class="btn btn-success" (click)="delSessionStorage()">Delete Session Storage</button>
    </div>
</div>
