/* You can add global styles to this file, and also import other style files */
.tabbedContent{
    border:1px solid #dee2e6;
    border-top: 0px;
    padding: 1rem;
}

.container{
    padding-bottom: 2rem;
    padding-top: 2rem;
}

@media only screen and (Max-width: 800px){
    .container label{
        font-size: 12px;
        font-weight: bold;
    }
}
@media only screen and (max-width: 1499px){
    .iconBox h4{
        font-size: 12px;
    }
    
}






































/* 
splitview custom divs
 */
 .required {
	color: red;
}


.custom-col-icons, .custom-col-2, .custom-col-3, .custom-col-4, .custom-col-6, .custom-col-8, .custom-col-12 {
	position: relative;
	width: 100%;
	min-height: 1px;
	/* padding-right:5px; */
	/* padding-left:5px; */
	padding-right: 15px;
	padding-left: 15px;
}

.custom-card-col-6 {
	position: relative;
	width: 100%;
	min-height: 1px;
}

.custom-col-icons i {
	cursor: pointer;
}

.cardPadding {
	padding-left: 1rem;
	padding-right: 10px;
}

.cardSpace {
	max-width: 0.8%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
}

.paddingBot {
	padding-bottom: 1rem;
}

.card-body .tableDiv {
	max-height: 200px;
	overflow: auto;
}

.largeCard {
	z-index: 3;
	width: 100%;
	position: absolute!important;
	height: 60%
}

.largeCard .card-body {
	max-height: none!important;
}

.btnColor {
	background: #000 !important;
	border-color: #000 !important;
}

@media(max-width:700px) {
	.cardSpace {
		display: none;
	}
}

@media(min-width: 700px) {
	.custom-col-1 {
		display: none;
	}
	.custom-col-icons {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		/* max-width:33.333333% */
		max-width: 9.9%!important;
		padding-left: 5px;
		padding-right: 5px;
	}
	.custom-col-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		/* max-width:33.333333% */
		max-width: 14.9%!important;
		padding-left: 5px;
		padding-right: 5px;
	}
	.custom-col-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		/* max-width:33.333333% */
		max-width: 24.9%!important;
		padding-left: 5px;
		padding-right: 5px;
	}
	.custom-col-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		/* max-width:33.333333% */
		/* max-width:24.9%!important; */
		max-width: 33.3%!important;
		padding-left: 5px;
		padding-right: 5px;
	}
	.custom-col-6 {
		/* -webkit-box-flex:0;
	-ms-flex:0 0 33.333333%; */
		flex: 50%;
		max-width: 50%!important;
		padding-left: 5px;
		padding-right: 5px;
	}
	.custom-card-col-6 {
		flex: 50%;
		max-width: 49.4% !important;
	}
	.custom-col-8{
		flex: 50%;
		max-width: 67%!important;
		padding-left: 5px;
		padding-right: 5px;
	}
	.custom-col-12 {
		flex: 50%;
		max-width: 100%!important;
		padding-left: 5px;
		padding-right: 5px;
	}
	.rowPadding {
		/* padding-bottom: 1rem; */
		padding-left: 12px;
		padding-right: 12px;
	}
}