<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>Routing & Navigation</h3>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col tabRow">
      <a routerLink="/" routerLinkActive="active">/</a>
    </div>
    <div class="col tabRow">
      <a routerLink="departments" routerLinkActive="active">Departments</a>
    </div>
    <div class="col tabRow">
      <a routerLink="employees" routerLinkActive="active">Employees</a>
    </div>
  </div>
</div>







<router-outlet></router-outlet>