
<div class="col-12">
        <br />
        <div class="titleHeader d-flex">
          <div class="col-4 text-left topLeftHeader">
            <h4>Form3 page:</h4>
          </div>
          <div class="col-4 centerHeader">
            <h2 class="text-center">Right To Information<br />
              Freedom Of Information Act</h2>
          </div>
          <div class="col-3 topRightHeader text-right">
            <br>
            <span class="h2FontSize">Hi {{user.username}} </span> <i class="fa fa-sign-out fa-3x" aria-hidden="true"></i>
            
          </div>
          <div class="col-1 spaceDiv"><!--Space--></div>
        </div>
      
      
        <hr>
      
        <br>
      
      
        <div class="row text-center">
          
          <div class="col ticketsText">
            <br>
            <h1 class="headline-4">{{user.newTickets}}</h1>
            <h4>New Tickets</h4>
          </div>
          
          <div class="col pendingText">
            <br>
            <h1 class="headline-4">{{user.pendingTickets}}</h1>
            <h4>Pending with me</h4>
          </div>
          
          <div class="col expiringText">
            <br>
            <h1 class="headline-4">{{user.expiringTickets}}</h1>
            <h4>Expiring Today</h4>
          </div>
          
          <div class="col expiringText2">
            <br>
            <h1 class="headline-4">{{user.expiringSoonNumber}}</h1>
            <h4>Expiring Within</h4>
            <h4>{{user.expiringSoonDays}} days</h4>
          </div>
          
        </div>
      
      
        <br>
        <br>
      
      <!--Icons:-->
        <div class="row text-center">
            <div class="col-1 spaceDiv"><!--Space--></div>
          <div class="col iconBox">
              <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
              <!-- <fa name="cog" animation="spin"></fa> -->
              <!-- uses css linked in the index.html: -->
              <i class="fa fa-search fa-3x" aria-hidden="true"></i>
              <!-- <fa name="search" size="5x"></fa> -->
              <h4>Search</h4>
          </div>
          <div class="col-1 spaceDiv"><!--Space--></div>
          <div class="col iconBox">
              <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
            <!-- <fa name="plus-circle" size="5x"></fa> -->
            
            <h4>Create New</h4>
          </div>
          <div class="col-1 spaceDiv"><!--Space--></div>
          <div class="col iconBox">
              <i class="fa fa-folder-open fa-3x" aria-hidden="true"></i>
              <!-- <fa name="folder-open" size="5x"></fa> -->
              <h4>Under Processing</h4>
          </div>
          <div class="col-1 spaceDiv"><!--Space--></div>
          <div class="col iconBox topRow">
              <i class="fa fa-times-circle-o fa-3x" aria-hidden="true"></i>
            <!-- <fa name="times-circle-o" size="5x"></fa> -->
            <h4>Closed</h4>
          </div>
          <div class="col-1 spaceDiv"><!--Space--></div>
        </div>
      
        <br>
      
        <div class="row text-center">
            <div class="col-1 spaceDiv"><!--Space--></div>
          <div class="col iconBox">
              <i class="fa fa-database fa-3x" aria-hidden="true"></i>
            <!-- <fa name="database" size="5x"></fa> -->
            <h4>Open Data</h4>
          </div>
          <div class="col-1 spaceDiv"><!--Space--></div>
          <div class="col iconBox">
              <i class="fa fa-file-text fa-3x" aria-hidden="true"></i>
            <!-- <fa name="file-text" size="5x"></fa> -->
            <h4>Redacted</h4>
          </div>
          <div class="col-1 spaceDiv"><!--Space--></div>
          <div class="col iconBox">
              <i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i>
            <!-- <fa name="bar-chart" size="5x"></fa> -->
            <h4>Reports</h4>
          </div>
          <div class="col-1 spaceDiv"><!--Space--></div>
          <div class="col iconBox">
              <i class="fa fa-users fa-3x" aria-hidden="true"></i>
              <!-- <fa name="users" size="5x"></fa> -->
              <h4>Legislative<br>Reports</h4>
          </div>
          <div class="col-1 spaceDiv"><!--Space--></div>
        </div>
      
      
        <br>
      
      
        <div class="row text-center">
            <div class="col-1 spaceDiv"><!--Space--></div>
            <div class="col iconBox">
                <i class="fa fa-id-card-o fa-3x" aria-hidden="true"></i>
              <!-- <fa name="id-card-o" size="5x"></fa> -->
              <h4>Delinquent<br>
                  Accounts</h4>
            </div>
            <div class="col-1 spaceDiv"><!--Space--></div>
            <div class="col iconBox">
                <i class="fa fa-usd fa-3x" aria-hidden="true"></i>
              <!-- <fa name="usd" size="5x"></fa> -->
              <h4>Billing</h4>
            </div>
            <div class="col-1 spaceDiv"><!--Space--></div>
            <div class="col iconBox">
                <i class="fa fa-question-circle fa-3x" aria-hidden="true"></i>
              <!-- <fa name="question-circle" size="5x"></fa> -->
              <h4>FAQ's</h4>
            </div>
            <div class="col-1 spaceDiv"><!--Space--></div>
            <div class="col iconBox">
                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
              <!-- <fa name="user" size="5x"></fa> -->
              <h4>Admin</h4>
            </div>
            <div class="col-1 spaceDiv"><!--Space--></div>
          </div>
      
      
          <br>
          <br>
          <br>
      
        
      <!--Top & Middle Div:-->
      </div>
      
      
          <!--Footer:-->
        
          <br>
          <div class="whiteFooter col-12">
          <div class="row">
            <div class="col-1"><!--Space--></div>
            <!--Left Section:-->
            <div class="col-3">
              <div class="row">
                <div class="col">
                  <h3 class="text-center">Quick Links</h3>
                  <p><a href="https://www.foia.gov/">https://www.foia.gov/</a></p>
                  <p><a href="https://foia.state.gov/">https://foia.state.gov/</a></p>
                </div>
              </div>
            </div>
            <!--Middle Section:-->
            <div class="col-4 middleFooter">
              <div class="col">
                <h3 class="text-center">FOIA Officer</h3>
                  <p><strong>Linda Gram</strong><br>
                    Linda.gram@soch-inc.com<br>
                    804-233-4567</p>
              </div>
              
            </div>
            <!--Right Section:-->
            <div class="col-3">
              <div class="col">
                <h3 class="text-center">Technical Contact</h3>
                <p><strong>Technical Support</strong><br>
                    FOIAsupport@soch-inc.com<br>
                    804-233-4566</p>
              </div>
            </div>
            <div class="col-1"><!--Space--></div>
          </div>
          
        </div>
      
      
      
          
      
      
          <div class="blueFooter col-12">
          <div class="row">
            <div class="col-4 text-left">
              <p class="font-small pt-4 footerSmallText">&copy;All Rights Reserved, Soch, Inc.</p>
            </div>
            <div class="col"></div>
            <div class="col-4 text-right">
              <p class="font-small pt-4 footerSmallText">Teams of Use - Privacy Policy - Cookies</p>
            </div>
          </div>
      </div>
      
      
      