@import "~ng-pick-datetime/assets/style/picker.min.css";


.newPopup .modal-dialog {
    max-width:80vw !important;
  }

  .newPopup2 .modal-dialog{
    max-width: 50%;
    /* top:10%; */
  }
  .newPopup3 .modal-dialog{
    max-width: 50%;
    top:20%;
  }

  .buttonRow{
    padding-left:1rem;
    padding-right:1rem;
  }

  .required{
    color: red;
  }

  label{
    font-weight: bold;
  }

  .alert{
    padding:5px;
    position: absolute;
    z-index: 1;
    line-height: 15px;
  }

  .custom-col-4{
    position:relative;
    width:100%;
    min-height:1px;
    padding-right:5px;
    padding-left:5px;
  }


  .orangeCard{
    background-color:rgb(228, 147, 0);
  }

  .greenCard{
    background-color: #4bad01e0;
  }

  .blueCard{
    background-color: #0072ffad!important;
  }


  .nextBtn{
    margin-left: auto;
  }
  .previousBtn{
    margin-right: auto;
  }


  .textBanner {
    /* margin-left: 2vw; */
    padding-left: 2vw;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: #59f73261;
    border:solid black 1px;
  }
  
  #infoIcon {
    margin-left: -1.5%;
    margin-right: 3px;
    color: #233e95;
  }

  .smallHeight{
    line-height: 17px!important;
  }
  



  @media(min-width: 700px){
    .custom-col-4{
      -webkit-box-flex:0;
      -ms-flex:0 0 33.333333%;
      flex:0 0 33.333333%;
      /* max-width:33.333333% */
      max-width:24.9%!important;
    }
    .custom-col-1{
      display:none;
    }
  }

  
@media (max-width: 575px){
  .newPopup .modal-dialog {
    max-width: 100% !important;
  }
}