<div class="container">
    <div class="loginDiv card">
        <form #loginForm="ngForm" novalidate>
            <div class="form-row">
                <div class="col">
                    <h2 class="loginTitle">Login</h2>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label>User Name</label>
                    <input class="form-control" type="text" name="userName" #userName="ngModel" [(ngModel)]="tempUser.userName" minlength="1" maxlength="30" required>
                    <div class="invalidText" *ngIf="userName.invalid && userName.touched" >username is required</div>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="tempUser.password" minlength="1" maxlength="50" required>
                    <div class="invalidText" *ngIf="password.invalid && password.touched" >password is required</div>
                </div>
            </div>

            <br>

            <div class="form-row">
                <div class="col-10 text-left">
                        <strong>This application uses COV credentials. Please contact VCCC for any login problems.</strong>
                </div>
                <div class="col-2 text-right">
                    <button class="btn btn-primary" type="button"  (click)="submitLogin()" [disabled]="loginForm.invalid" >Login</button>
                </div>
            </div>
        </form>
        
    </div>
</div>