.prismHeader{
    color:white;
    background-color: black;
    z-index: 1;
}
.whiteIcons{
    color: white;
    cursor: pointer;
}
.fa-sign-out{
    cursor: pointer;
}

.layout-sidebar {
    position: absolute;
    left: 0;
    top: 64px;
    box-sizing: border-box;
    height: calc(100% - 64px);
    background-color: #343a40;
    overflow-x: hidden;
    overflow-y: auto;
    width: 11%;
    -moz-box-sizing: border-box;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

.rti li {
    width: 100%;
    padding: 10px 10px 6px 10px;
}

.rti li:hover {
    background: grey;
    cursor: pointer;
}


.rti li a {
    color: #eee;
}

.rti li a span {
    padding: 0px 10px 0px 10px;
    color: #eee;
}

.active
{
    background-color: #4484CE;
}

@media (Max-Width: 572px){
    .leftHeading{
        display: none;
    }
    .rightHeading{
        display: none;
    }
}
